#body-container,#tf-home,#overly{
    min-width:1300px;
}
#tf-home .overlay{
    min-height:100vh;
}
#top-carousel .el-carousel__indicator{
    padding-top:0;
    padding-bottom:0;
    }
.tab-bar{
    position: fixed;
    top:150px;
    left:20px;
}
.tab-bar ul li{
    padding:10px 0;
}
.tab-bar ul li i{
padding-right:10px;
}
.page-content>div{
    margin:0 auto;
    width:1120px;
    padding-left:150px;
    /*border:1px solid white;*/
    display: flex;
}
.left-side{
    width:682px;
    /*border:1px solid red;*/
    margin-right:30px;
}
.partition-name >h3{
    padding:0px;
    margin:0;
}
.partition-name{
    padding-top:20px;
    padding-bottom:20px;
}
.right-side{
    width:260px;
    border-radius:3px;
    padding:5px;
    background:rgba(255,255,255,0.2);
    /*border:1px solid green;*/
}
#top-carousel h3{
    position:absolute;
    bottom:0px;
    left:5px;
}
#top-carousel{
    width:680px;
    height:212px;
    overflow: hidden;
    border-radius:3px;
}
/* #top-carousel .carousel-inner .item{
width:680px;
} */
#top-carousel img{
    width:100%;
}
.right-side ul li{
    display:flex;
    justify-content: space-around;
}
.right-side ul li:hover{
    background:rgba(255,255,255,0.2);
}
.right-side ul li{
    width:250px;
}
.right-side ul li a{
    width:180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display:block;
}
.article{
    /*border:1px solid yellow;*/
    border-radius:3px;
    background:rgba(255,255,255,0.2);
    margin-bottom:10px;
    padding:5px;
}
.article:hover{
    background:rgba(255,255,255,0.4);
}
.article a{
    display:block;
    display:flex;
    justify-content: space-around;
}
.article-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.article>a>.article-left>p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.article-left{
    width:550px;
}
.article-right{
    width:120px;
}
.article-inf>span{
    padding-right:5px;
}
.articles{
    /* text-indent:2em; */
    padding:10px;
}
.articles h1{
    text-align: center;
}
main.page-content >div>div{
    min-width:800px;
}
img{
    max-width:100% !important;
}
#footer{
    min-width:1300px;
}
.loadinganime{
    display:none;
}
.loadinganime.active{
    display:flex;
    position: fixed;
    width:100%;
    height:100vh;
    background:rgba(255,255,255,0.2);
    z-index:999;
    top:0;
    right:0;
    align-items: center;
    justify-content: center;
}


.box-taiji {z-index:1;width:50px;height:50px;position: relative;margin:6px auto;border-radius:50px;background-color:#000;box-shadow:0 0 6px rgba(0,0,0,.8);animation:rotation 2.5s linear infinite;-webkit-animation:rotation 2.5s linear infinite;-moz-animation:rotation 2.5s linear infinite;}
.box-taiji:before,
.box-taiji:after {width:25px;height:50px;position:absolute;top:0;display:block;content:"";}
.box-taiji:before {left:0;border-radius:25px 0 0 25px;background-color:#000;}
.box-taiji:after {right:0;border-radius:0 25px 25px 0;background-color:#fff;}
.circle-01,
.circle-02 {width:25px;height:25px;position:absolute;z-index:2;border-radius:32.5px;}
.circle-01 {top:0;left:12.5px;background-color:#000;}
.circle-02 {bottom:0;right:12.5px;background-color:#fff;}
.circle-01:after,
.circle-02:after {width:9px;height:9px;position:absolute;z-index:3;display:block;content:"";border-radius:9px;}
.circle-01:after {top:7px;left:7px;background-color:#fff;}
.circle-02:after {bottom:7px;right:7px;background-color:#000;}
@keyframes rotation {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

